 h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
h1 {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.container {
    
    max-width: 320px;
    margin:  0 auto;
    padding: 0 16px;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #434455 ;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.nav-list a {
    color: #2E2F42;
    display: block;
    padding: 24px 0; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .link-studio {
    color: #404BBF;
}
.nav-list a:hover,
.nav-list a:focus {
    color: #404bbf;
}
.hero {
    background: #2E2F42;
    
    padding-top: 72px;
    padding-bottom: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
      url("../images/Hero-img-S.jpg");
      max-width: 1440px;
        margin: 0 auto;
}

         @media screen and (min-resolution: 2x) {
            .hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
      url("../images/Hero-img-s-X2.jpg");
            }
         }
        
        
h1, h2 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
     font-weight: 700;
    font-size: 36px;
line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    
    margin: 0 auto 72px;
}
h2 {
     font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin: auto;
}
h3  {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}


.link-studio {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404BBF;
}

.link-studio::after { 
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio:hover,
.link-studio:focus-visible {
    color: #404BBF;
}

.link-studio:hover::after,
.link-studio:focus-visible::after {
    background-color: #404BBF;
}
header {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}


.logo-first {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-second {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}
.mobile-menu-button {
     display: flex;
  align-items: center;
  background: none;
  border: none;
    cursor: pointer;
     margin-left: auto;
}
header nav{
    display: flex;
  align-items: center;
  width: 100%;
  
}

.nav-list {
    
    display: none;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    font-style: normal;
    display: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info:hover,
.info:focus {
    color: #404bbf;
}

header .container {
  display: flex;
  align-items: center;
  padding: 16px;
}
.logo {
    
    margin-right: 16px ;
}
header address ul {
    
    display: none;  
}

header address {
    font-style: normal;
    margin-left: auto;
  font-style: normal;
}


.mob-menu  { 
        background-color: #fff;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 10;
     display: flex;
     flex-direction: column;
     opacity: 0;
        visibility: hidden;
        pointer-events: none;
        
}

.mob-menu.is-open{
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
}
.mobile-menu-button-close {
    width: 24px;
    height: 24px;
    position: absolute;
    justify-content: center;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        display: flex;
      align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #E7E9FC;

}

.nav-mob {
    margin-bottom: auto;
    margin-top: 72px;
}
.nav-list-mob {
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
width: 151px;
height: 200px;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}
.link-studio-mob
{
color: #404bbf;
}

.info-mob-header
{
    display: flex;
flex-direction: column;
    gap: 24px;
}
.info-mob-email
{
    color: #434455;
}
.info-address-mob {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.mob-address
{
    margin-bottom: 48px;
    width: 100%;
}




.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero button {
    display: block;
    margin: 0 auto;
    flex-wrap: wrap;
    
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}

.about {
    
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
} 
.about-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
     margin-bottom: 8px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    
}
.features-item {
   
 width: 100%;
}
.features {
    
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #FFFFFF;
    
}

.features-title {
    margin-bottom: 8px;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.team-list {
    display: flex;
    flex-wrap: wrap;  
    overflow: hidden;
    justify-content: center;
    gap: 72px;
}
.team-card
 {
        width: 100%;
        padding: 32px 16px;
       }
 
.team-title {
    align-items: center;
    margin-bottom: 72px; 
}
.cards {
    flex-direction: column;
    
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding-inline: 0px;
     background-color: #FFFFFF;
   box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team {
    background-color: #f4f4fd;
    
    padding-top: 96px;
    padding-bottom: 96px;

}
.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    
        margin-bottom: 8px;
       
}
.portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.portfolio-item-text {
     background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-item-content {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}
.portfolio-title {
    margin-bottom: 72px;
}
.portfolio-item-text
{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
background: #4D5AE5;
color: #F4F4FD;
position: absolute;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
inset: 0;
z-index: 1;
}

.item-text:hover .portfolio-item-text
{
    transform: translateY(0);
}
.portfolio-list {
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.portfolio-list {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover
{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16),
     0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.hover-text {
    position: relative;
    overflow: hidden;
}
.card-title {
    margin-bottom: 8px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    margin-top: 16px;
    text-align: start;
}

footer {
    background-color: #2E2F42;
    padding: 96px 16px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.icon-wrapper {
    display: none;
}
.icon-wrapper:hover,
.icon-wrapper:focus
{
     background-color: #f4f4fd;
}

.icons a
{
    width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons a:hover,
.icons a:focus
{
    background-color: #404BBF;
}
.social-icons {
  display: flex;
  gap: 24px;
  list-style: none;
  display: flex;
    flex-wrap: wrap;  
    overflow: hidden;
    justify-content: center;
} 
.icons-footer a {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
    border-radius: 50%;
display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icons-footer a:hover,
.icons-footer a:focus
{
    background-color: #31d0aa ;
}

footer .container
{
    
    display: flex;
align-items: center;
justify-content: center;
text-align: center;
flex-direction: column;
gap: 72px;
}
.icons-footer-wrapper {
    
    margin-left: 0;
    
}
.social-icons-footer {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.subcribe
{
    
    margin-left: 0;
}
.subcribe-footer
{
    
      font-weight: 400;
      font-size: 12px;
      line-height: 2;
     letter-spacing: 0.04em;
     color: #ffffff;
     outline: none;
     border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        background-color:transparent; 
        color: #FFFFFF;
        padding-right: 24px;
        padding-left: 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subcribe-footer:focus,
.subcribe-footer:hover
{
    border-color: #31d0aa;
}
.subcribe-footer::placeholder
{
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}
.footer-form-btn
{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
    justify-content: center;
        border-radius: 4px;
            padding: 8px 24px;
            width: 165px;
            height: 40px;
            background-color:#4d5ae5;
            color:#FFFFFF;
            display: flex;
                align-items: center;
                gap: 16px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-btn:hover,
.footer-form-btn:focus
{
background-color: #31d0aa;
}

.icon-sub
{
    fill:#FFFFFF;
    width: 24px;
   
}
.title-footer
{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    margin-bottom: 16px;
text-align: center;
justify-content: center;
}
.social
{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
text-align: center;
}
.ellipse
{
    fill: #f4f4fd; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.overlay.is-open
{
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
}
.modal {
    border-radius: 4px;
    width: 283px;
    min-height: 400px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

 padding:  72px 16px 16px 16px;
}
.close-button {
    width: 24px;
    height: 24px;
    position: absolute;
    justify-content: center;
    top: 24px;
    right: 24px;
    fill: #e7e9fc;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        display: flex;
      align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #E7E9FC;
}
.close-button:hover .button-back,
.close-button:focus .button-back {
    fill: #ffffff;
    border: none;
}
.close-button:focus,
.close-button:hover
{
    background-color: #404bbf;
    border:none;
}
.button-back
{
    fill:#2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.modal-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        padding-right: 24px; 
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
        
}
.modal-input:focus+.modal-icon  {
    fill: #4d5ae5;
}
.modal-input:focus
{
    border-color: #4d5ae5;
}

.modal-lable
{
    display: block;
    margin-bottom: 4px;
font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;

}
.modal-icon 
{
position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper {
    position: relative;
    
}
.modal-field {
    margin-bottom: 8px;
}


.modal-field-comment
{
    margin-bottom: 16px;
}
.modal-input-text
{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    height: 120px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        resize: none;
        padding: 8px 16px;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-text:focus
{
 border-color: #4d5ae5;
}
.modal-check:checked + .modal-check-label span
{
    background-color: #404bbf;
        border: none;
    
}


.modal-check-label
{
font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
    
}

.label-link 
{
    line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.span-checkbox
{
    width: 16px;
    height: 16px;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;  
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon
{
    fill: #FFFFFF;
    opacity: 0;
    
}
.modal-check:checked+.modal-check-label .checkbox-icon {
    background-color:#404bbf ;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin: 24px auto 0 auto;
    width: 169px;
    height: 56px;
}
.submit-button:hover,
.submit-button:focus
{
background-color:#404bbf;
}
 

@media screen and (min-width: 768px){
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .mobile-menu-button {
    display: none;
  }

  header nav {
    width: auto;
  }
.logo{
    padding-right: 120px;
}
  .nav-list { display:flex; 
    gap: 40px;
  }

  header address ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
.info {
    display: block;
}
  header .info {
    padding: 0;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Hero-img-Tab.jpg");
  }

  h1 {
    font-size: 56px;
    line-height: 1.07143;
    margin: 0 auto 36px;
  }

  .features-list {
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-list{
    gap: 72px 24px;
  }
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .item-text {
    width: calc((100% - 24px) / 2);
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  
  footer .container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 24px;
    align-items: baseline;
    justify-content: center;
    text-align: start;
    padding: 0 16px;
}

  .subcribe {
        align-items: left;
        justify-content: flex-start;
    }

    .footer-form {
        flex-direction: row;
        align-items: center;
        gap: 24px;
        
    }
    .title-footer {
        text-align: start;
        justify-content: start;
    }
    .social {
        text-align: start;
        justify-content: start;
    }
    .icons-footer-wrapper {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 2) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Hero-img-Tab-2x.jpg");
  }
  
}

@media screen and (min-width: 1158px){
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  header address ul {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .logo 
  {
    padding-right: 76px;  
  }
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-list {
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-title
  {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: start;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 8px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Hero-img-PC.jpg");
  }

  h1 {
    margin: 0 auto 48px;
  }
  
  

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list{
    gap: 48px 24px;
    flex-wrap: wrap;
  }

  .item-text {
    width: calc((100% - 48px) / 3);
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
  }

  .cards {
    width: calc((100% - 72px) / 4);
  }
  footer
  {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  footer .container
  {
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
  }
  .footer-form
  {
    flex-direction: row;
    align-items: center;
  }
  .icons-footer-wrapper
  {
    margin-left: 120px;
  }
  .subcribe
  {
    margin-left: auto;
  }
  .title-footer
  {
    text-align: start;
    justify-content: start;
  }
  .social{
    text-align: start;
    justify-content: start;
  }

}
@media screen and (min-width: 1158px) and (min-resolution: 2) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url("../images/Hero-img-PC-X2.png");
  }
}